body {
  background: linear-gradient(
    110.1deg,
    rgb(241, 115, 30) 18.9%,
    rgb(231, 29, 54) 90.7%
  );
  color: azure;
}
h1,
h2 {
  text-align: center;
}
img {
  width: 600px;
}

.photos {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

a {
  font-size: 30px;
  color: whitesmoke;
  list-style: none;
}
